/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$font-family-sans-serif: "Open Sans", "Poppins";
$secondary: darkcyan;
$code-bg: lightgray;
$code-color: $secondary;




/*-- scss:rules --*/
.sourceCode {
  background-color: lightgray;
  color: $secondary;
}
