/*-- scss:defaults --*/
// Colors
// $primary: #2c365e;
$body-bg:#f0f0f0;
// $navbar-bg: #d19939;
// $link-color: $primary;
// Fonts
// $font-family-sans-serif: "Open Sans", sans-serif;
// $font-family-monospace: "Source Code Pro", monospace;


/*-- scss:mixins --*/


/*-- scss:rules --*/
// Custom theme rules
// .title-block {
//   margin-bottom: 2rem;
//   border-bottom: 3px solid $primary;
// }
// code {
//   color: darken($primary, 10%);
//   padding: 0.2em 0.4em;
//   border-radius: 3px;
// }
.navbar-expand-md {
  background-color: #d19939;
}

div.navbar-title-text a {
  font-weight: 700;
  color: black !important;
}

a.nav-link.active {
  background-color:#666e7c !important;
}

.navbar-author {
  font-style: italic;
}

.card {
  box-shadow: 2px 2px 6px gray;
}

.card .card-body {
  background: white;
}
